#
# OpenTHC Test Environment Configuration
#

export OPENTHC_TEST_BASE="https://app.openthc.example.com/"
export OPENTHC_TEST_BASE_BROWSERSTACK="https://USERNAME:SECRET@hub-cloud.browserstack.com/wd/hub"

export OPENTHC_TEST_COMPANY_A="01TEST0000C0MPANY00000AAAA"
export OPENTHC_TEST_LICENSE_A="01TEST0000L1CENSE00000AAAA"

export OPENTHC_TEST_COMPANY_B="01TEST0000C0MPANY00000BBBB"
export OPENTHC_TEST_LICENSE_B="01TEST0000L1CENSE00000BBBB"

export OPENTHC_TEST_COMPANY_C="01TEST0000C0MPANY00000CCCC"
export OPENTHC_TEST_LICENSE_C="01TEST0000L1CENSE00000CCCC"

export OPENTHC_TEST_COMPANY_D="01TEST0000C0MPANY00000DDDD"
export OPENTHC_TEST_LICENSE_D="01TEST0000L1CENSE00000DDDD"

export OPENTHC_TEST_COMPANY_E="01TEST0000C0MPANY00000EEEE"
export OPENTHC_TEST_LICENSE_E1="01TEST0000L1CENSE00000EE11"
export OPENTHC_TEST_LICENSE_E2="01TEST0000L1CENSE00000EE22"

export OPENTHC_TEST_COMPANY_F="01TEST0000C0MPANY00000FFFF"
export OPENTHC_TEST_COMPANY_F_CLIENT_KEY=""
export OPENTHC_TEST_COMPANY_F_PUBLIC_KEY=""
export OPENTHC_TEST_COMPANY_F_SECRET_KEY=""
export OPENTHC_TEST_LICENSE_F="01TEST0000L1CENSE00000FFFF"
